<!DOCTYPE html>
<html>
  <head>
    <% include templates/headertemplate.ejs %>
  </head>
  <body style="">
      <div class="container">
      <!-- Fixed navbar -->
      <% include templates/navbar.ejs %>
        <!-- Jumbotron -->

        <div class="jumbotron" id="jumbo">
          <h1>User cards</h1>
          <p class="lead">
        <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#accordion" href="#cards">
          <div class="panel-heading" class="panel_heading">
            <h4 class="panel-title">
                <%=userId %>
            </h4>
          </div>
        </a>
          <div id="cards" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="panel panel-default">
              <% cards.forEach(function(card, i, array) {%>

              
                <a data-toggle="collapse" data-parent="#accordion" href="#card<%=i%>">
                  <div class="panel-heading" class="panel_heading">
                    <h4 class="panel-title">
                      <%=card.get('exp')%>
                    </h4>
                  </div>
                </a>
                <div id="card<%=i%>" class="panel-collapse collapse">
                  <div class="panel-body">
                    
                    <a class="navbar-brand" href="/card/<%=card.id%>"><%=card.createdAt%></a>
                  </div>

                </div>
              <%});  %>
              </div>
            </div>
          </div>
        </div>
      </p>
      </div>

      <% include templates/footer.ejs%>


      </div> <!-- /container -->


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->


  </body>
  <script>
      $('#modal-form-submit').on('click', function(e){
      // We don't want this to act as a link so cancel the link action
      e.preventDefault();

      // Find form and submit it
      $('#modal-form').submit();
      });

  </script>
</html>
